<div class="mx-auto mb-16 frozen">
  <header>
    <div class="flex">
      <h3 class="font-black mr-2">
        RMC
      </h3>
      <h3 class="font-black ml-2 mr-2">
        |
      </h3>
      <a
        href="https://l.gourav.sh/linkedin"
        class="underline-none round-button ml-2 mr-2"
        aria-label="Visit Roberto's LinkedIn profile">
        {% include linkedin_svg.html %}
      </a>
      <a
        href="https://l.gourav.sh/github"
        class="underline-none round-button ml-2 mr-2"
        aria-label="Visit Roberto's GitHub profile">
        {% include github_svg.html %}
      </a>
    </div>
    <nav>
      <div class="desktop-nav">
        {% for item in site.data.nav %}
        <a href="{{ item.url }}" {% if item.target %} target="{{ item.target }}" {% endif %}>{{ item.title }}</a>
        {% endfor %}
      </div>
      <div class="burgers">
        <div class="bar1"></div>
        <div class="bar2"></div>
      </div>
      <div class="hidden mobile-nav">
        {% for item in site.data.nav %}
        <a href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
      </div>
    </nav>
  </header>
</div>